html, body
	{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family:	'Verdana', sans-serif;
	}

body
	{
	margin-top: 20px;
	}

h1
	{
	vertical-align: center;
	padding-left: 110px;
	display: block;
	height:	40px;
	padding-top:10px;
	background-image: url('logo_fekm_small.png');
	background-repeat: no-repeat;
	background-position: 10px 50%;
	font-size: 30px;
	}

td, th
	{
	font-size: 14px;
	}

#main_table, #head_table
	{
	table-layout: fixed;
	width: 100%;
	*margin-left: -200px;/*ie7*/
	}

#main_table td, #main_table th,
#head_table td, #head_table th
	{
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding:10px;
	width:50px;
	}

#tr_teachers td
	{
	font-size:	11px;
	height:		16px;
	}

#main_table tr:first-child td,
#main_table tr:first-child th,
#head_table tr:first-child td,
#head_table tr:first-child th
	{
	border: none;
	}

#main_table td.future,
#head_table td.future
	{
	background-color: grey;
	}

#main_table th,
#head_table th
	{
	position:absolute;
	*position: relative; /*ie7*/
	left:0;
	width:190px;
	padding-right: 20px;
	}

#outer_head
	{
	position:relative;
	height: 195px;
	width: 100%;
	}

#outer_main
	{
	position:relative;
	height: 20%;
	overflow-y:scroll;
	width: 100%;
	}

.inner
	{
	overflow-x:scroll;
	overflow-y:hidden;
	margin-left:215px;
	margin-right:20px;
	}

.button_comment
	{
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-image: url('uncomment.png');
	background-size: 40px 40px;
	}

.button_comment.checked
	{
	background-image: url('comment.png');
	background-size: 40px 40px;
	}

.technique {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-image: url('unchecked.png');
	background-size: 40px 40px;
	}

.technique.checked
	{
	background-image: url('checked.png');
	background-size: 40px 40px;
	}

div#comment
	{
	display: none;
	position: absolute;
	width:	440px;
	height:	330px;
	z-index: 30;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	}

span#comment_close
	{
	font-weight: bold;
	width: 20px;
	height: 15px;
	padding-top:5px;
	float:right;
	display:block;
	cursor: pointer;
	}

div#comment textarea
	{
	width: 100%;
	height: 170px;
	margin-bottom: 20px;
	}

h2
	{
	margin-left: 13px;
	margin-top: 13px;
	font-size: 15px;
	}

button#save_changes
	{
	float:	right;
	margin-right: 30px;
	}

div.technique_count
	{
	float:		right;
	font-size:	12px;
	font-weight:	normal;
	border: 	1px solid #000000;
	border-radius:	3px;
	padding-left:	2px;
	padding-right:	2px;
	}

.nowrap
	{
	white-space:nowrap;
	}

.wrap
	{
	white-space:normal;
	}


@media (max-width: 480px)
	{

	body
		{
		margin-top: 10px;
		}
	h1
		{
		width:	200px;
		height:	14px;
		font-size: 14px;
		background: none;
		padding-left: 0px;
		padding-top:0px;
		margin-left:5px;
		margin-top:0px;
		text-align:center;
		}

	button#save_changes
		{
		float:	none;
		margin-left: 5px;
		margin-top:   -3px;
		}

	#head_table td,
	#head_table th
		{
		padding:	2px 10px 2px 10px;
		}

	#outer_head
		{
		height:		150px;	
		position:	absolute;
		top:		5px;
		}

	#outer_main
		{
		position:absolute;
		top: 150px;
		}
	}
